#chat_container .emote {
    max-height: 75px;
    max-width: 225px;
}

#chat_container .gif {
    max-height: 375px;
}

#chat_container .emoji {
    height: 66px;
}

.zero-width_container {
    margin-bottom: 16.5px;
    margin-top: 16.5px;
}
