#chat_container .emote {
    max-height: 84px;
    max-width: 252px;
}

#chat_container .gif {
    max-height: 420px;
}

#chat_container .emoji {
    height: 78px;
}

.zero-width_container {
    margin-bottom: 18.5px;
    margin-top: 18.5px;
}
